{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailmd %}

{% block content %}

<div class="container">

<section class="content">
<h1 style="text-align: center;" id="posts-headline">Recent Writings.</h1>

  {% post_list 5  as posts %}

    <ol id="posts-list">
    {% for post in posts  %}
    <li>
        <a href="{{post.url}}" 
        title="{{post.title}}">
        {{post.title}}</a>

        <time datetime="{{post.date}}">{{post.date}}</time>

        <span class="post tags">
          {% for tag in post.tags.all  %}
            <a href="{{tag.url}}">{{tag}}</a>
          {% endfor %}
        </span>
    </li>

    {% endfor %}


  <nav class="pagination">
    <!-- <span class="posts index">Page 1 of 4</span> -->
    <a rel="prev" class="posts older btn small" href="/blog/">All Posts →</a>
  </nav>


      </section>

</div>

{% endblock content %}


