{% load i18n wagtailroutablepage_tags %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailmd %}

<ol id="posts-list">
{% for post in posts  %}
  <li>
    <a href="{{post.url}}" 
      title="{{post.title}}">
      {{post.title}}</a>

    <time datetime="{{post.date}}">{{post.date}}</time>

    <!-- <span class="post tags"> -->
    <!--   {% for tag in post_tags  %} -->
    <!--     <a href="{{tag.url}}">{{tag.name}}</a> -->
    <!--   {% endfor %} -->
    <!-- </span> -->
  </li>

{% endfor %}
